#chatbox {
    height: 500px;
    width: 500px;
    border: 1px solid black;
    overflow: auto;
}

.message {
    margin: 5px;
}

.to-command {
    color: red;
    font-weight: bold;
}

.chname-command {
    color: lightgray;
    font-style: italic;
}